@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow: auto;
    scrollbar-width: none;
    line-height: initial;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

div.swiper-button-prev::after,
div.swiper-button-next::after {
    font-size: 20px;
}

div.swiper-button-prev,
div.swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    font-size: 24px;
    color: #1a1a1a;
    position: absolute; 
}
div.swiper-button-prev {
    left: 80px;
}
div.swiper-button-next {
    right: 80px;
}

@media (max-width: 768px) {
    div.swiper-button-prev,
    div.swiper-button-next {
        top: 55%;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 20;
        font-size: 12px;
        color: #1a1a1a;
    }
    div.swiper-button-prev {
        left: 20px;
    }
    div.swiper-button-next {
        right: 20px;
    }
    div.swiper-button-prev::after,
    div.swiper-button-next::after {
        font-size: 16px;
    }
}

.p-hover-underline::after {
  content: '';
  position: absolute;
  width: 33.333333%;
  height: 0.1rem;
  background-color: #f46177;
  left: 50%;
  transform: translateX(-50%);
  transition: all 300ms;
  opacity: 0;
}

.p-hover-underline:hover::after {
  opacity: 1;
}

@media (min-width: 992px) {
  .p-hover-underline::after {
    bottom: 1rem;
  }
}

@media (min-width: 1400px) {
  .p-hover-underline::after {
    bottom: 2rem; 
  }
}

.text-custom-arrow {
  color: #f46177;
  font-weight: bold;
  font-size: 1rem;
}